//
   Created by Aman on 12.06.16.

div
   form(action='/inventory/save', method='post')
      input(type='text' name='price' value=item['retailPrice'])
      input(type='hidden' name='index' value=index)
      input(type='submit')