extends layout


block content
  a(href='/def/invent.format.txt') Fields
  h1 Products
   
  hr
  if data
     div.data
       p data from <b>"inventho.rnd"</b> file:
         br
       table
         tr(class='head')
          td(width='250px')= "Update Retail Price"
           each val, index in data[0]
            td(width='250px')= index
          - var cls = 'even'
          - var index = 1
          each row in data
            tr(class= cls)
              td(width='250px')
                a(href='/inventory/detail/' +index) Edit
              each val, index in row
                td(width='250px')= val

            - index++
            if cls== 'even'
              - cls= 'odd'
            else
              - cls= 'even'
  else
    div.data
      p.
        Can't parse data
